# Gradle
.gradle/
build/
out/

# Java
*.class
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
